*.class
*.iml
.idea/
target/
createOSMBuildingTable.sql
createOSMRoadTable.sql
geoclimate_bdtopo_data_test
myh2gisbdtopodb.mv.db
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

site.xml

dataForTests
lczDebug.json
docs/build
docs/venv
